{{>head}}

{{#if message}}
  <div class="alert alert-{{message.type}}" role="alert">
    {{message.message}}
  </div>
{{/if}}

{{>navbar}}

<div class="container">
    <div class="d-flex bd-highlight">
        {{!-- SIDEBAR --}}
        <div class="p-2 flex-shrink-1 bd-highlight">
            <div class="d-flex flex-column flex-shrink-0">
                <ul class="list-group">
                    <li class="list-group-item bg-brokenwhite"><a href="#" class="fs-3"><i class="bi bi-house-door-fill pale-blue"></i></i></a>
                    </li>
                    <li class="list-group-item bg-brokenwhite"><a href="#" class="fs-3"><i class="bi bi-compass-fill pale-blue"></i></a>
                    </li>
                    <li class="list-group-item bg-brokenwhite"><a href="#" class="fs-3"><i class="bi bi-mic-fill pale-blue"></i></a></i>
                    </li>
                </ul>
            </div>
        </div>
        {{!-- MAIN VIEW --}}
        <div class="p-2 w-100 bd-highlight pb-5">
            {{!-- PLAYLSTS --}}
            <section id="playlist" class="bg-brokenwhite p-3">
                <div class="container">
                    <div class="row g-4">
                        {{!-- PLAYLIST 1 --}}
                        <div class="col-md-6 col-lg-3">
                            <div class="card bg-primary card-border shadow-lg">
                                <div class="card-body text-center text-white">
                                    <img class="rounded-circle mb-3 img-fluid card-img" src="/static/images/playlist1.png" alt="">
                                    <div class="text-center d-flex">
                                        <button class="btn btn-success btn-sm rounded-circle square my-auto"><i class="fas fa-caret-right fs-2"></i></i></button>
                                        <div class="d-flex flex-column ms-2">
                                            <h2 class="card-title fs-5">Playlist 1</h3>
                                            <p>Updates every friday</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{!-- PLAYLIST 2 --}}
                         <div class="col-md-6 col-lg-3">
                            <div class="card bg-orange card-border shadow-lg">
                                <div class="card-body text-center text-white">
                                    <img class="rounded-circle mb-3 img-fluid card-img" src="/static/images/playlist2.png" alt="">
                                    <div class="text-center d-flex">
                                        <button class="btn btn-success btn-sm rounded-circle square my-auto"><i class="fas fa-caret-right fs-2"></i></i></button>
                                        <div class="d-flex flex-column ms-2">
                                            <h2 class="card-title fs-5">Playlist 2</h3>
                                            <p>Updates every friday</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{!-- PLAYLIST 3 --}}
                         <div class="col-md-6 col-lg-3">
                            <div class="card bg-warning card-border shadow-lg">
                                <div class="card-body text-center text-white">
                                    <img class="rounded-circle mb-3 img-fluid card-img" src="/static/images/playlist3.png" alt="">
                                    <div class="text-center d-flex">
                                        <button class="btn btn-success btn-sm rounded-circle square my-auto"><i class="fas fa-caret-right fs-2"></i></i></button>
                                        <div class="d-flex flex-column ms-2">
                                            <h2 class="card-title fs-5">Playlist 3</h3>
                                            <p>Updates every friday</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{!-- PLAYLIST 4 --}}
                         <div class="col-md-6 col-lg-3">
                            <div class="card bg-purple card-border shadow-lg">
                                <div class="card-body text-center text-white">
                                    <img class="rounded-circle mb-3 img-fluid card-img" src="/static/images/playlist4.png" alt="">
                                    <div class="text-center d-flex">
                                        <button class="btn btn-success btn-sm rounded-circle square my-auto"><i class="fas fa-caret-right fs-2"></i></i></button>
                                        <div class="d-flex flex-column ms-2">
                                            <h2 class="card-title fs-5">Playlist 3</h3>
                                            <p>Updates every friday</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            {{!-- MENUS --}}
            <div class="container mt-5">
                <div class="row">
                    {{!-- GENRES --}}
                    <div class="col-md-3 border py-3 bg-card border-rad-10 shadow">
                        <h1 class="fs-3 text-center black">Genres</h1>
                        {{!-- GENRE BUTTON --}}
                        <div class="container">
                            <div class="row row-cols-2">
                                <div class="col g-3"><a href="#" class="btn btn-outline-dark border-rad-10">Pop</a></div>
                                <div class="col g-3"><a href="#" class="btn btn-outline-dark border-rad-10">Rock</a></div>
                                <div class="col g-3"><a href="#" class="btn btn-outline-dark border-rad-10">Dangdut</a></div>
                                <div class="col g-3"><a href="#" class="btn btn-outline-dark border-rad-10">Melayu</a></div>
                            </div>
                        </div>
                    </div>
                    {{!-- Song Player --}}
                    {{#if songs}}
                    <div class="col pt-3">
                        <div class="vstack gap-3">
                            <h3>My songs</h3>
                            {{!-- SONGS 1 --}}
                            {{#each songs}}
                            <div class="bg-card black border-rad-10 shadow">
                                <div class="songs p-2">
                                    <div class="song-item d-flex bd-highlight">
                                        <div class="p-2 bd-highlight">
                                            <img class="rounded-circle square" src="http://randomuser.me/api/portraits/women/11.jpg" alt="">
                                        </div>
                                        <div class="p-2 bd-highlight">
                                            <div class="song-info">
                                                <p class="fs-5 m-0">{{this.name}}</p>
                                                <p class="fw-light m-0">{{this.title}}</p>
                                            </div>
                                        </div>
                                        <div class="ms-auto p-2 bd-highlight">
                                            <a href="#"><i class="bi bi-heart-fill like-btn me-2 fs-4 "></i></a>
                                            <button class="btn btn-outline-success btn-sm rounded-circle square-sm my-auto"><i class="fas fa-caret-right fs-3 ms-1"></i></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                    {{/if}}
                    <div class="col col-lg-4 bg-light border-rad-10 shadow">
                        <div class="col pt-3">
                            <div class="vstack gap-3">
                                <h3 class="text-center">Your playlist</h3>
                                {{!-- PLAYLIST 1 --}}
                                <div class="bg-card black border-rad-10 shadow">
                                    <div class="songs p-2">
                                        <div class="song-item d-flex bd-highlight">
                                            <div class="p-2 bd-highlight">
                                                <img class="rounded-circle square" src="http://randomuser.me/api/portraits/women/11.jpg" alt="">
                                            </div>
                                            <div class="p-2 bd-highlight">
                                                <div class="song-info">
                                                    <p class="fs-5 p-2 m-0 fw-bold">Playlist 1</p>
                                                </div>
                                            </div>
                                            <div class="ms-auto p-2 bd-highlight">
                                                <a href="#"><i class="bi bi-heart-fill like-btn me-2 fs-4 "></i></a>
                                                <button class="btn btn-outline-success btn-sm rounded-circle square-sm my-auto"><i class="fas fa-caret-right fs-3 ms-1"></i></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{!-- PLAYLIST 2 --}}
                                <div class="bg-card black border-rad-10 shadow">
                                    <div class="songs p-2">
                                        <div class="song-item d-flex bd-highlight">
                                            <div class="p-2 bd-highlight">
                                                <img class="rounded-circle square" src="http://randomuser.me/api/portraits/women/11.jpg" alt="">
                                            </div>
                                            <div class="p-2 bd-highlight">
                                                <div class="song-info">
                                                    <p class="fs-5 p-2 m-0 fw-bold">Playlist 1</p>
                                                </div>
                                            </div>
                                            <div class="ms-auto p-2 bd-highlight">
                                                <a href="#"><i class="bi bi-heart-fill like-btn me-2 fs-4 "></i></a>
                                                <button class="btn btn-outline-success btn-sm rounded-circle square-sm my-auto"><i class="fas fa-caret-right fs-3 ms-1"></i></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{!-- PLAYLIST 3 --}}
                                <div class="bg-card black border-rad-10 shadow">
                                    <div class="songs p-2">
                                        <div class="song-item d-flex bd-highlight">
                                            <div class="p-2 bd-highlight">
                                                <img class="rounded-circle square" src="http://randomuser.me/api/portraits/women/11.jpg" alt="">
                                            </div>
                                            <div class="p-2 bd-highlight">
                                                <div class="song-info">
                                                    <p class="fs-5 p-2 m-0 fw-bold">Playlist 1</p>
                                                </div>
                                            </div>
                                            <div class="ms-auto p-2 bd-highlight">
                                                <a href="#"><i class="bi bi-heart-fill like-btn me-2 fs-4 "></i></a>
                                                <button class="btn btn-outline-success btn-sm rounded-circle square-sm my-auto"><i class="fas fa-caret-right fs-3 ms-1"></i></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>