{{>head}}
{{>navbar}}
<div class="container text center pt-5">
  <form action="/artist/add" method="POST" enctype="multipart/form-data">
    <div class="input-group mb-3">
      <span class="input-group-text" id="inputGroup-sizing-default">Name :</span>
      <input type="text" name="name" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="inputGroup-sizing-default">Start career :</span>
      <input type="text" name="start_career" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>
    <div class="mb-3">
      <label for="formFile" class="form-label">Upload photo <img src="/static/icons/disc.svg" alt=""></label>
      <input class="form-control" name="cover_music" type="file" id="formFile">
    </div>
    <div class="input-group mb-3">
      {{!-- <input type="text" name="about" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"> --}}
      <span class="input-group-text" id="inputGroup-sizing-default">About :</span>
      <textarea name="about" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="{{artist.about}}"></textarea>
    </div>
    <div class="text-center">
      <button class="btn btn-success mt-3 px-5 py-2" type="submit">Submit</button>
    </div>
  </form>
</div>